@import './variables.scss';

@mixin colorBtn($color) {
  background: $color;
  &:hover {
    color: $color;
    &:before,
    &:after {
      background: $color;
    }
  }
}

.blue-btn {
  @include colorBtn($blue)
}

.light-blue-btn {
  @include colorBtn($light-blue)
}

.red-btn {
  @include colorBtn($red)
}

.pink-btn {
  @include colorBtn($pink)
}

.green-btn {
  @include colorBtn($green)
}

.tiffany-btn {
  @include colorBtn($tiffany)
}

.yellow-btn {
  @include colorBtn($yellow)
}

.pan-btn {
  font-size: 14px;
  color: #fff;
  padding: 14px 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-right: 25px;
  transition: 600ms ease all;
  position: relative;
  display: inline-block;
  &:hover {
    background: #fff;
    &:before,
    &:after {
      width: 100%;
      transition: 600ms ease all;
    }
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: 400ms ease all;
  }
  &::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
}

.custom-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
}

.table-operate-button {
  margin-left: 6px !important;
  padding: 3px 6px;
}
// primary
.table-operate-button.el-button--primary {
  color: $miniPrimary;
  background-color: #FFFFFF;
  border-color: $miniPrimary;
}

.table-operate-button.el-button--primary:hover,
.table-operate-button.el-button--primary:focus,
.table-operate-button.el-button--primary:active,
.table-operate-button.el-button--primary.active {
  color: #fff;
  background-color: $miniPrimary;
  border-color: $miniPrimary;
}

.table-operate-button.el-button--primary:active,
.table-operate-button.el-button--primary.active {
  background-image: none;
}

.table-operate-button.el-button--primary.is-disabled,
.table-operate-button.el-button--primary.is-disabled:active,
.table-operate-button.el-button--primary.is-disabled:focus,
.table-operate-button.el-button--primary.is-disabled:hover {
  color: #8cc5ff;
  background-color: #ecf5ff;
  border-color: #d9ecff;
}

// danger
.table-operate-button.el-button--danger {
  color: $miniDanger;
  background-color: #FFFFFF;
  border-color: $miniDanger;
}

.table-operate-button.el-button--danger:hover,
.table-operate-button.el-button--danger:focus,
.table-operate-button.el-button--danger:active,
.table-operate-button.el-button--danger.active {
  color: #fff;
  background-color: $miniDanger;
  border-color: $miniDanger;
}

.table-operate-button.el-button--danger:active,
.table-operate-button.el-button--danger.active {
  background-image: none;
}

.table-operate-button.el-button--danger.is-disabled,
.table-operate-button.el-button--danger.is-disabled:active,
.table-operate-button.el-button--danger.is-disabled:focus,
.table-operate-button.el-button--danger.is-disabled:hover {
  color: #f9a7a7;
  background-color: #fef0f0;
  border-color: #fde2e2;
}

// success
.table-operate-button.el-button--success {
  color: $miniSuccess;
  background-color: #FFFFFF;
  border-color: $miniSuccess;
}

.table-operate-button.el-button--success:hover,
.table-operate-button.el-button--success:focus,
.table-operate-button.el-button--success:active,
.table-operate-button.el-button--success.active {
  color: #fff;
  background-color: $miniSuccess;
  border-color: $miniSuccess;
}

.table-operate-button.el-button--success:active,
.table-operate-button.el-button--success.active {
  background-image: none;
}

.table-operate-button.el-button--success.is-disabled,
.table-operate-button.el-button--success.is-disabled:active,
.table-operate-button.el-button--success.is-disabled:focus,
.table-operate-button.el-button--success.is-disabled:hover {
  color: #a4da89;
  background-color: #f0f9eb;
  border-color: #e1f3d8;
}

// warning
.table-operate-button.el-button--warning {
  color: $miniWarning;
  background-color: #FFFFFF;
  border-color: $miniWarning;
}

.table-operate-button.el-button--warning:hover,
.table-operate-button.el-button--warning:focus,
.table-operate-button.el-button--warning:active,
.table-operate-button.el-button--warning.active {
  color: #fff;
  background-color: $miniWarning;
  border-color: $miniWarning;
}

.table-operate-button.el-button--warning:active,
.table-operate-button.el-button--warning.active {
  background-image: none;
}

.table-operate-button.el-button--warning.is-disabled,
.table-operate-button.el-button--warning.is-disabled:active,
.table-operate-button.el-button--warning.is-disabled:focus,
.table-operate-button.el-button--warning.is-disabled:hover {
  color: #f0c78a;
  background-color: #fdf6ec;
  border-color: #faecd8;
}

// info
.table-operate-button.el-button--info {
  color: $miniInfo;
  background-color: #FFFFFF;
  border-color: $miniInfo;
}

.table-operate-button.el-button--info:hover,
.table-operate-button.el-button--info:focus,
.table-operate-button.el-button--info:active,
.table-operate-button.el-button--info.active {
  color: #fff;
  background-color: $miniInfo;
  border-color: $miniInfo;
}

.table-operate-button.el-button--info:active,
.table-operate-button.el-button--info.active {
  background-image: none;
}

.table-operate-button.el-button--info.is-disabled,
.table-operate-button.el-button--info.is-disabled:active,
.table-operate-button.el-button--info.is-disabled:focus,
.table-operate-button.el-button--info.is-disabled:hover {
  color: #bcbec2;
  background-color: #f4f4f5;
  border-color: #e9e9eb;
}


//table-head-button primary
.table-head-button+.table-head-button {
  margin-left: 5px;
}
.table-head-button.el-button--primary {
  color: $miniPrimary;
  background-color: #FFFFFF;
  border-color: $miniPrimary;
}

.table-head-button.el-button--primary:hover,
.table-head-button.el-button--primary:focus,
.table-head-button.el-button--primary:active,
.table-head-button.el-button--primary.active {
  color: #fff;
  background-color: $miniPrimary;
  border-color: $miniPrimary;
}

.table-head-button.el-button--primary:active,
.table-head-button.el-button--primary.active {
  background-image: none;
}

.table-head-button.el-button--primary.is-disabled,
.table-head-button.el-button--primary.is-disabled:active,
.table-head-button.el-button--primary.is-disabled:focus,
.table-head-button.el-button--primary.is-disabled:hover {
  color: #8cc5ff;
  background-color: #ecf5ff;
  border-color: #d9ecff;
}


